#Mac
*.DS_Store

#Linux
*.directory

#QT
*.autosave
*.pro.user
*.pro.user*
*.user.*
*.user

#Editors
*~

#CLion
*.idea

#Libs
*.so.*
*.so
*.a
*.dll

#Makestuff
Makefile
CMakeCache.txt
*.cmake
CMakeFiles/

#Other
*.cbp
